################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/ConsoleTableEditor/Benchmark
/src/ConsoleTableEditor/.vs
/src/ConsoleTableEditor/TableEditor.Core/obj
/src/ConsoleTableEditor/TableEditor.Core/bin
/src/ConsoleTableEditor/TableEditor.Console/obj
/src/ConsoleTableEditor/TableEditor.Console/bin